
#app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;
}

.header{
    display: flex;
    justify-content: center; align-items: center;
    background-image: url("./images/football-texture.jpg");
    background-size: 100%;
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
    border: 2px solid black;
    color: white;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0px 0px 30px black;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 5px;
    width: 90%;
    position: relative;
}

.nav{
   margin: 20px;
   box-shadow: 0px 0px 10px black;
}

.container{
    display: flex; justify-content: center;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;
    width: 90%;
    height: auto;
}

.ppcontainer{
    display: flex; flex-direction: column;
    align-items: center;
}

.home{
    display: flex; flex-direction: row; flex-wrap: wrap;
}

.champs{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

.pic-all{
    display: flex;
    justify-content: center; align-items: center;
    flex-wrap: wrap;
}
.pics{
    width: 30%; height: auto;
    border-radius: 1em;
    margin: 10px;
}
.pl-pic{
    width: 15%;
    border-radius: 1em;
}

.dogname{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.footer{
    display: flex;
    justify-content: center; align-items: center;
    background-image: url("./images/field.jpg");
    background-size: 100%;
    border-start-start-radius: 1.5em 1.5em;
    border-start-end-radius: 1.5em 1.5em;
    border: 2px solid black;
    box-shadow: 0px 0px 30px black;
    width: 90%;
    margin-top: 25px;
    padding-top: 60px;
}

.deets{
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    font-weight: bold;
}